
@import 'variables.scss';
@import '../../../lib/bootstrap-4.3.1/scss/bootstrap.scss';

#sizes {
    position: fixed;
    bottom: 5px;
    right: 5px;
    background-color: red;
    color: aliceblue;
    padding: 5px 10px;
    border-radius: 5px;
}